<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title th:text="${titulo}"></title>
	<link rel="icon" type="image/x-icon" th:href="@{/img/logo-sm.jpg}">
	<link href="/styles/style.css" rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg bg-primary">
			<div class="container-fluid">
				<a class="navbar-brand text-light" th:href="@{/home}">
					<img th:src="@{/img/logo-sm.jpg}" alt="Bootstrap" width="30" height="24">
				</a>
				<a th:text="${titulo.toUpperCase}" class="navbar-brand text-light" th:href="@{/home}">
					<img th:src="@{/img/logo-sm.jpg}" alt="Bootstrap" width="30" height="24">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item" th:each="link : ${links}"><a class="nav-link text-light"
								aria-current="page" th:href="@{${link[0]}}"
								th:text="${#strings.capitalize(link[1])}"></a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<main class="container">
		<div class="row justify-content-center gap-5">

			<section class="col-11 col-lg-8">
				<h1 th:text="${cabecera.toUpperCase}" class="text-center fw-bold"></h1>
				<!-- 
				<img alt="" th:src="@{/img/portada.jpg}" class="rounded mx-auto d-block w-75">-->
			</section>

			<section class="col-11 col-lg-8">
				<div style="grid-template-columns: 1fr 1fr;" class="d-grid gap-3">
					<div class="p-2">
						<a th:href="@{/loto/genera/49/6/España}" type="button" class="btn btn-primary w-100">Loto Española
							— 6 de 49</a>
					</div>
					<div class="p-2">
						<a th:href="@{/loto/genera/49/6/Alemania}" type="button" class="btn btn-primary w-100">Loto
							Alemana — 6 de 49</a>
					</div>
					<div class="p-2">
						<a th:href="@{/loto/genera/90/6/Francia}" type="button" class="btn btn-primary w-100">Loto
							Francesa
							— 6 de 90</a>

					</div>
					<div class="p-2">
						<a th:href="@{/loto/genera/49/5/Italia}" type="button" class="btn btn-primary w-100">Loto Italiana —
							5
							de 49</a>
					</div>
				</div>
			</section>

		</div>


	</main>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
		crossorigin="anonymous"></script>
</body>

</html>